<!-- If logged in -->
<% if @user %>


        <style>
            body{background-color: pink;}
            #Name {
                font-family:gigi;
                color:rgb(110, 110, 110);
                font-size:56px;
                text-align:center;
            }
            #Entire {
               background-color:rgb(224, 146, 224);
               margin-top:30%;
            
            }
           #tagline{
                 background-color:rgb(190, 139, 207);
                 margin-top:-35px;
           }
           #anotherone{
            text-align:center; 
            font-size:12;
            font-family:impact;
            color:rgb(71, 71, 71);
           }
           #BLAH {
               background-color:rgb(151, 212, 217);
               margin-top:-166px;
           }
           #YA {
               background-color:rgb(102, 180, 196);
               margin-top: 191px;
           }
           #ANOTHER
           {
            background-color:rgb(102, 180, 196);  
           }
           #Toppings{
            margin-top: -313px;
            background-color:white;
            border-radius:8px;
           }
           .top{
            display:inline-block; 
            margin-left:120px;
            }
           
           .profile-pic{
               margin-left: 310px;
               margin-top: -225px;
           }

           #friendzone{
           margin-top: -1200px;
           margin-left: 450px;
           font-size: 100px;    
           }
            #facts{
               margin-top:580px;
               background-color:white;
               margin-right:700px;
               border-radius:10px;
           }
            .Sandy{
              margin-top:890px;    
            }
            .Something {
            margin-top:-225px;
            margin-left: 620px;
            }
            .Lalala {
                margin-left: 927px;
                margin-top:-223px;
            }

            #logo{
                text-align: center;
                 margin-top:-940px;}

            #signout{
                margin-left: 1270px;
                margin-top: -225px;
            }     
            
            .open {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
               margin-top: -313px;
            }

            li {
              float: left;
              display:inline;
              padding: 0px 20px;

            }

            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }

            li a:hover:not(.active) {
              background-color: #111;

            }
            
            .active {
              background-color: DarkTurquoise;
            }
  
           
        </style>
        



    <!--Profile name and intro-->
    <div id="Entire">
        <% if @user.member && @user.member.first_name %>
          <h1 id="Name">Welcome <%= @user.member.first_name %></h1>
        <% else %>
          <h1 id="Name">Anonymous</h1>
        <% end %>
    </div>

    
        <div id="tagline">
            <p id="anotherone">
            Dream as if you will live forever. Live as if you are going to die.
            </p> 
        </div>
        <div id = "BLAH">
            <p id = "ANOTHER">
            .
            </p>
        <div id = "YA">
            <p>
            .
            </p>
        </div>
        </div>
      
        
  <ul class="open">
    <li><%= link_to "Profile", welcome_index_path %></li>
    <li><%= link_to "Communities", welcome_community_path %></li>
    <li><%= link_to "Personal Info", edit_personal_info_path(@user) %></li>
    <li><a href="http://widget.mibbit.com/?settings=c4c6efc468d6fca10c1af4ba48b1155f&server=irc.mibbit.net%3A%2B6697&channel=%23Sharinghands_test" target="_blank">Chatroom</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#carrers">Careers</a></li>
    <li><a href="#chat">Donate/Contact</a></li>
    <li><%= link_to "Sign out", destroy_user_session_url, method: :delete %></li>
  </ul>
        
        
    <div id="facts">    
    <h1> Facts </h1>
    <p>
     fufufu
    </p>
    </div>

   
    <!--Name of site-->    
    <p id="friendzone"> </p>

    <div class = "Sandy">
    <img src="http://intuitivecreativity.typepad.com/.a/6a00d83451dc5b69e201bb087309e5970d-pi" width="300" height="220">
    </div>

     <div class ="profile-pic">
    <img src="http://www.immotourisme.com/location-gerance/wp-content/uploads/2016/04/1470.jpg" width="300" height="220">
    </div>

    <div class ="Something">
    <img src="http://fanaru.com/konosuba-gods-blessing-on-this-wonderful-world/image/255644-konosuba-gods-blessing-on-this-wonderful-world-megumin-explosion.jpg" width="300" height="220"></div>

    <div class ="Lalala">
    <img src="https://img.clipartfest.com/31f25adb273153ce00d7bb64bc39a5ee_whats-coding-got-to-do-with-coding_1920-1200.jpeg" width="300" height="220">
    </div>


    <div id="logo">
    <img src="https://d1b10bmlvqabco.cloudfront.net/attach/iud12iv5jgu334/iu7z8oqsvsu1h2/j0r8u33rfov6/imageedit_1_9215536154.png" width="350" height="350">
    </div>


    <script type="text/javascript">
    function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min;
    }

    var qoutes = ["Don't cry because it's over, smile because it happened. ― Dr. Seuss", "If your feeling suicidal, you've come to the right place. -Filthy Frank", "Be yourself; everyone else is already taken. ― Oscar Wilde", 'You only live once, but if you do it right, once is enough. ― Mae West', 'Be the change that you wish to see in the world. ― Mahatma Gandhi', "In three words I can sum up everything  I've learned about life: it goes on. ― Robert Frost"];


    var qoute_number = getRandomInt(0, qoutes.length);

    document.getElementById("anotherone").innerHTML = qoutes[qoute_number];
    </script>


<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    
    s1.async=true;
    s1.src='https://embed.tawk.to/58e17952f97dd14875f5b559/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script> -->
<!--End of Tawk.to Script-->



















<!-- New user view or not logged in -->
<% else %>

  <div class="relative"> 
  <div class="absolute"> SHARING HANDS 
  </div> 
  </div>

  <h4> Welcome to Sharing Hands </h4>
    
  <div class="info"><p> Do you ever feel lonely, hopeless, or invisible? That nobody is there for you? That even despite everything you do, nobody is ever there to help you out, or just be a friend? <br> <br> The HeyBerry Community is dedicated to giving you endless support. We are here for you, and will help you make friends and gain supporters. <br> <p> We are never alone…. </p></p></div>
    


  <!-- Rails Magic starts here for log in  -->
  <div class="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
  <% end %>

  <!-- Sign up link -->
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end -%>

  <!-- Forgot password link -->
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end -%>

  <!-- Resend confirmation -->
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  <% end -%>

  <!-- Resend instruction for password reset -->
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end -%>
  <% end -%>
  
</div>






  <!-- Start of CSS -->
  <style>
    #Info  {
      font-family: Arial;
      color:rgb(0,0,0);
    }

    h4 {
      color: rgb(255,147,26);
      font-family: Bebas Neue;
      font-size: 25px;
    }

    div.relative {
      position: relative;
      border: 3px solid #FF931A;
      background-color: #FF931A;
      padding-bottom: 35px; 
      padding-left: 8px; 
      padding-right: 8px; 
      padding-top: 8px;"
    } 

    div.absolute {
      position: relative;
      top: 12px;
      right: 2px;
      border: 8px solid #ffffff;
      background-color: #6fd9be;
      font-family: Bebas Neue;
      color:rgb(255,255,255);
      font-size:100px;
      margin-left: 20px; 
      margin-right: 20px; 
      padding-bottom: 8px; 
      padding-left: 8px; 
      padding-right: 8px;
      padding-top: 8px;
      text-align:center;
    }

    div.info{
      background-color:#ffffff; 
      border: 4px solid #FABB1D;
      margin-left: 20px; 
      margin-right: 20px; 
      padding-bottom: 8px; 
      padding-left: 8px; 
      padding-right: 8px; 
      padding-top: 8px;
    }

    div.login{
      background-color:#ffffff; 
      border: 4px solid #FABB1D;
      margin-top: 20px;
      margin-left: 20px; 
      margin-right: 20px; 
      padding-bottom: 8px; 
      padding-left: 8px; 
      padding-right: 8px; 
      padding-top: 10px;
    }
  </style>
  
<% end %>